/*Марьина Роща 17*/
.map_marker.marker_1 {background-color:#ffd400; left:132px; top:75px;}
/*Нахимово*/
.map_marker.marker_2 {background-color:#ffcc33; left:125px; top:220px;}
/*Бескудниково*/
.map_marker.marker_3 {background-color:#ff9900; left:115px; top:35px;}
/*Алексеево*/
.map_marker.marker_4 {background-color:#ff6600; left:150px; top:80px;}
/*Базовская*/
.map_marker.marker_5 {background-color:#ff3300; left:94px; top:14px;}
/*Марфино*/
.map_marker.marker_6 {background-color:#cc0000; left:120px; top:65px;}
/*Новое Бутово*/
.map_marker.marker_7 {background-color:#cc0099; left:100px; top:300px;}
/*Мичурино*/
.map_marker.marker_8 {background-color:#993399; left:60px; top:200px;}
/*Головино*/
.map_marker.marker_9 {background-color:#0099ff; left:90px; top:83px;}
/*Вершинино*/
.map_marker.marker_10 {background-color:#009999; left:130px; top:200px;}
/*Водный*/
.map_marker.marker_11 {background-color:#336666; left:97px; top:65px;}
/*Некрасовка*/
.map_marker.marker_12 {background-color:#009933; left:250px; top:155px;}
/*Юрлово*/
.map_marker.marker_13 {background-color:#66cc00; left:133px; top:30px;}
/*Чайка*/
.map_marker.marker_14 {background-color:#666666; left:112px; top:120px;}
/*Одинбург*/
.map_marker.marker_15 {background-color:#66ccff; left:10px; top:180px;}
/*Зеленоград*/
.map_marker.marker_16 {background-color:#66cc99; left:40px; top:2px;}
/*Краснознаменск*/
.map_marker.marker_17 {background-color:#0099FF; left:5px; top:180px;}
/*Северный Парк*/
.map_marker.marker_18 {background-color:#42779c; left:90px; top:75px;}
/*Дом на Рогожском Валу*/
.map_marker.marker_19 {background-color:#088e11; left:160px; top:135px;}
/*Стереос*/
.map_marker.marker_20 {background-color:#B4E237; left:3px; top:3px;}
/*Пресненский вал*/
.map_marker.marker_37 {background-color:#004a8f; left:125px; top:115px;}
/*Нижегородская*/
.map_marker.marker_36 {background-color:#004a8f; left:180px; top:130px;}
/*Сосинская*/
.map_marker.marker_35 {background-color:#004a8f; left:175px; top:145px;}
/*Калитниковская*/
.map_marker.marker_34 {background-color:#004a8f; left:170px; top:120px;}
/*Технопарк*/
.map_marker.marker_38 {background-color:#036634; left:160px; top:174px;}
/*Марьина Роща*/
.map_marker.marker_39 {background-color:#00cccc; left:136px; top:92px;}
/*Успенское*/
.map_marker.marker_40 {background-color:#059f34; left:0px; top:165px;}
/*Мичурино-Запад*/
.map_marker.marker_41 {background-color:#0093bf; left:45px; top:204px;}
/*Богородский*/
.map_marker.marker_42 {background-color:#003366; left:193px; top:68px;}
/*Дом на Баковке*/
.map_marker.marker_43 {background-color:#30807f; left:25px; top:180px;}
/*Лесное озеро*/
.map_marker.marker_44 {background-color:#77a32d; left:55px; top:0px;}
/*Локо-Банк*/
.map_marker.marker_45 {background-color:#8b8d8f; left:40px; top:135px;}
/*Измайловский*/
.map_marker.marker_46 {background-color:#23a98b; left:210px; top:88px;}
